extends ../partials/layout
block content
    script(type='text/javascript', src='../../javascripts/dataTables.bootstrap.min.js')
    script(type='text/javascript', src='../../javascripts/post-people-groups.js')
    script(type='text/javascript', src='../../javascripts/common.js')
    link(rel='stylesheet', href='../../stylesheets/table.css')
    link(rel='stylesheet', href='../../stylesheets/dataTables.bootstrap.min.css')
    include ../partials/nav-bar
    div.form-horizontal
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading.panel-heading-black Добавяне на контакт в група
                    div.panel-body
                        table.data-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th.checkbox-col
                                    th.number-col №
                                    th.title-col Титла
                                    th.name-col Име
                                    th.name-col Презиме
                                    th.name-col Фамилия
                                    th Длъжност
                                    th Групи
                            tbody
                                each person, index in people
                                    tr.person-info(id= person.id)
                                        td.text-center.checkbox-container
                                            input(type='checkbox' id= person.id)
                                        td.person-info= index+1
                                        td.person-info= person.title
                                        td.person-info= person.firstName
                                        td.person-info= person.secondName
                                        td.person-info= person.lastName
                                        td.person-info= person.jobTitle
                                        if person.groups[0]
                                            td.person-info= person.groups[0].name
                                        else
                                            td.person-info -
                    div.panel-footer.panel-default
                        div.row
                            div.col-lg-12
                                div.col-lg-2
                                    label.control-label(for='group-select') Добавяне в група:
                                div.col-lg-4
                                    select.form-control(id='group-select', name='Group')
                                        each group in groups
                                            option(value= group.id)= group.name
                                div
                                    button.btn.btn-default.btn-primary.btn-custom.pull-right(id='add-button') Добави